<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.15-rc1/jquery.twzipcode.min.js" ></script>
<link rel='stylesheet' th:href="@{/css/index.css}" type="text/css" /> <!-- 首頁樣式 -->
<link rel="shortcut icon"  th:href="@{/favicon.ico}"/> <!-- 網站小圖 -->	
<title>結帳畫面</title>
<script>
	$.ajax({ type: "GET", 
			url: "[[@{/Order/getShoppingCar}]]",
			dataType: "json", 
			contentType: "application/json",
			 success: function (response) { 
				 $.each(response, function(index, element){
					 $('#info').append(
							'<tr class="allProduct"><td  class="p" style="display: none">'+ element.pkDishId + '</td>'+
        					'<td>'+ element.dishName+'</td>'+
        					'<td>'+ '價格：'+element.dishPrice+'</td>'+
          					'<td>'+ '數量：<input  class="min" name="" value="-" type="button"/>'+
    						'<input style="width: 30px" id="text_box"  class="text_box"  type="text" value="'+element.quantity+'" disabled="disabled"/>'+
       						'<input class="add" name="" value="+" type="button" /></td>'+
         					'<td class="onetotal">'+ '單價總額：'+element.dishPrice*element.quantity+'</td>'+
         					'<td ><img height="100" src='+element.base64+'> </td>'+         					
         					'<td><button class="delete">刪除</button></td></tr>')

				 }
			 )}
			
		});	

$(function() {
setAllTotal ();
$(".min").click(function(){
	var min = $(this).next().val();
	var object = $(this).parent();
	if(min == 1){
		DeleteProduct()
	}else{
		min	--;
	}
	$(this).next().val(min)
	setOneTotal(object);
	setAllTotal();
})
$(".add").click(function(){
var object = $(this).parent();	
var add = $(this).prev().val();
 add ++;
 $(this).prev().val(add);
 setOneTotal(object);
	setAllTotal();
})

function setOneTotal(object){
	var s=0;
	s+=parseInt(object.children().eq(1).val())*parseFloat(object.prev().text().substring(3));
	object.next().html("單價總額："+s.toFixed(0));
	
	}


function setAllTotal () {
	
	var a=0;
	var total = $(".onetotal");
	var totallength =$("#tab").find(".onetotal").length;
	for(i=0; i<totallength ; i++){
	 a += parseFloat(total.eq(i).text().substring(5))
		 
	}
		$("#alltotal").text(a)
	
}


$(".delete").click(DeleteProduct)
function DeleteProduct(){
	
	var b2 = confirm ("確定要刪除該筆資料嗎?")
	if(b2){
		$(this).parent().parent().remove();
		var menuID = $(this).parent().parent().find(".p").text()
		$.ajax({ type: "GET", 
			url: "[[@{/Order//deleteProduct/}]]"+ menuID
			
	});		
	}
}
$("#save").click(function(){
	var saveOrder = [];
	
	var  allProductlength =$("#tab").find(".allProduct").length;
	
	var  memberaddres =$("#addressId").val();
	
	for(i=0; i < allProductlength; i++){
		
		var allProduct = $(".allProduct");
		
		if(allProduct.find(".text_box").eq(i).val()>0){
			
			saveOrder[saveOrder.length] = {
					"menuID" :allProduct.find(".p").eq(i).text(),    
					"quantity" : allProduct.find(".text_box").eq(i).val() ,
					};
		}	
	}
// 	for(j=0; j<saveOrder.length; j++){
// 		console.log("ID = "      + saveOrder[j].menuID);
// 		console.log("quantity =" + saveOrder[j].quantity);
// 		}
	
	if(memberaddres == ""){
		
		$.ajax({ type: "POST", 
			url:"[[@{/Order/saveOrder}]]",
			data: JSON.stringify(saveOrder), dataType: "json", 
			contentType: "application/json",
		});
		if($("#payment").val()=="onlineCash"){
		setTimeout(function(){
			$.ajax({ type: "POST", 
				url:"[[@{/Order/toPayECpay}]]",
				dataType: "json", 
				contentType: "application/json",
				success: function (response) {	
					$("#divforEcpay").html(response.hi)
						
				}
				
			});
		}, 1500); 
// 					 $("#allPayAPIForm").submit()
		}
// 		window.location = "[[@{/store/findAll}]]"
		

	}else{
		$.ajax({ type: "POST", 
			url:"[[@{/Order/saveOrder}]]"+"/"+$("#addressId").val(),
			data: JSON.stringify(saveOrder), dataType: "json", 
			contentType: "application/json",	
		});
		if($("#payment").val()=="onlineCash"){
			setTimeout(function(){
			$.ajax({ type: "POST", 
				url:"[[@{/Order/toPayECpay}]]",
				dataType: "json", 
				contentType: "application/json",
				success: function (response) {
					$("#divforEcpay").html(response.hi)
				}
				
			});
			}, 1500);
// 					 $("#allPayAPIForm").submit()
		}
// 		window.location = "[[@{/store/findAll}]]"
		
	}
		
})
$("#maddres").click(function(){
	$.ajax({ type: "GET", 
		url:"[[@{/Order/getaddresByID}]]",
		dataType: "json", 
		contentType: "application/json",
		success: function (response) {
			$("#addressId").val(response.address)
		}
	});	
})
$(".county").change(function(){
	$("#addressId").val($(".county").val()+" "+$(".district").val()+" ");
})
$(".district").change(function(){
	$("#addressId").val($(".county").val()+" "+$(".district").val()+" ");
})
$("#inputaddressId").change(function(){
	$("#addressId").val($(".county").val()+" "+$(".district").val()+" "+$("#inputaddressId").val());
})
$("#ggininder").hide();	
$('input[name=checktake]').change(function(){
	takeout = $('input[name=checktake]:checked').val()
	if(takeout==1){
		$("#ggininder").hide();	
	}else{
		$("#ggininder").show();	
	}
})


})	
</script>
<style type="text/css">
.fl {
    float: left; 
 	} 
	
 	.btn btn-primary { 
     margin: 8px 0; 
 	} 
 	.fr { 
     float: right; 
	} 

</style>

</head>
<body th:object="${memberBean}">
<div th:insert="Generic :: Header"></div>

	<div class="container" style="max-width: 1200px; margin-top: 50px">
	<div style="text-align: center;">
		<table >
			<tr>
				<td><font size="5" >您的訂單</font></td>
			</tr>
		</table>

			<table id="tab" class="table table-striped" width="100%" cellpadding="0"
				cellspacing="0" border="0">
				<tbody id="info">

				</tbody>
			</table>
	</div>
	</div>
	
	<div class="container" style="max-width: 1200px; margin-top: 50px">
	<p>取餐方式:</p>
  <input type="radio" id="store" name="checktake" value="1"  checked="true">
  <label for="store">到店取餐</label>
  <input type="radio" id="home" name="checktake" value="2">
  <label for="home">送餐至住家</label><br>

<p>付款方式:</p>
<select id="payment">
    <option value="cash">現金</option>
    <option value="onlineCash">線上刷卡</option>
</select>
 </div>
	
	
	<section  >
	<div class="container" style="max-width: 1200px; margin-top: 50px">

		<div class="form-group" id="ggininder" >
		<br>
					<label for="addressId">地址</label>
					<div class="btn orgbtn fr" ><p  id="maddres" >使用會員地址</p></div>
					<div id="twzipcode">
					</div>
					<input type="text" name="inputaddress" id="inputaddressId" class="form-control">
					<input type="text" name="address" id="addressId" class="form-control" readonly="readonly">
					<p class= "form-control-static text-danger"  style="margin-bottom: 0"></p>
					<p class= "form-control-static text-danger" ></p>
		</div>
		</div>
		<div id="divforEcpay" hidden="hidden"></div>
	
	</section>
	<div class="navbar navbar-expand-sm bg-light justify-content-around">
		<div id="alltotalDiv" class="fl"><span class="text-success" id="alltotal">0</span>元</div>
 		
 		<div class="btn orgbtn "><button  id="save" class="btn btn-primary " >送出訂單</button></div>
	</div>
<script>
$("#twzipcode").twzipcode({
    countySel: "", // 城市預設值, 字串一定要用繁體的 "臺", 否則抓不到資料
    districtSel: "", // 地區預設值
    zipcodeIntoDistrict: true,  // 郵遞區號自動顯示在地區
    css: ["county form-control", "district form-control", "zipcode form-control"], // 自訂 "城市"、"地區" class 名稱
    countyName: "storeCity", // 自訂城市 select 標籤的 name 值
    districtName: "storeTown" // 自訂地區 select 標籤的 name 值
    });
</script>

	
</body>
</html>