<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>訂單</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="/NeverStarve/js/jquery-2.2.3.min.js"></script>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<!-- 首頁樣式 -->
<link rel='stylesheet' th:href="@{/css/index.css}" type="text/css" />

<!-- 網頁小圖 -->
<link rel="shortcut icon"  th:href="@{/favicon.ico}"/>
<!-- bootStrap icon -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">



<style type="text/css">
.table{
	margin:auto ;
	margin-top:20px;  	
	width: 80%;
	text-align:center;
	align-items: center
	
}
.erro{
	margin:auto ;
	margin-top:20px;  	
	width: 80%;
	text-align:center;
	align-items: center;
	font-weight: 800;
}

	#order:hover {
	   color: gold;	 /*  移動到連接的颜色 */

      }
 
	#order:active {
	    color: orange; /*點擊的颜色*/
       }
</style>

<style type="text/css">
#textst{
            text-align: center;
            font-size: 30px;
            color: #808080;
}#tu{
 text-shadow: 1px 1px 1px #000,-1px -1px 1px #fff;
}

</style>

<script type="text/javascript" th:inline="javascript" >
$(function(){
	$("#tbody").on("click","#order",function(){
	var tr        = $(this).closest('tr');
	var id    = tr.find('td:eq(0)').text();
	var orderURL= /*[[@{/Order/list/}]]*/
	window.open( orderURL+id, '_blank', 'toolbar=0, location=no, menubar=0, height=400,  width=800, top=120px, left=520px');
	});
	$(function(){
		var elements = document.getElementsByClassName("dd");
		var ddlist = $(".dd").get()
		for(let i=0; i<ddlist.length; i++){
			ddlist[i].innerHTML=ddlist[i].innerHTML.replace("-","年").replace("-","月").replace("T","日").substr(0,19)
		}
	})
})




</script>
</head>
<body>
	 <div th:insert="Generic :: Header"></div>
	 
	<div class=" text-center" id="textst" style="margin-top: 150px">
	<p id="tu"><span th:text="${id.name}"></span>，您好！這是您的歷史訂單！</p>
	</div>
	<div class="container" style="width: 1800px">
	<div class="d-flex justify-content-end" >
	<p class="text-center"> <a th:href="@{/}" class="btn btn-primary">返回首頁 <i class="bi bi-house-fill"></i></a></p>
	</div>
	</div>
	<div th:inline="text" >
		<table width=400px; class="table table-striped table-dark ">
			<thead>
					<tr>
						<th>訂單編號</th>
						<th>金額</th>
						<th>成立日期</th>
						<th>地址</th>
						<th>訂單付款狀態</th>
						<th>訂單確認狀態</th>
						<th>訂單備註</th>
						<th>詳細資訊</th>
					</tr>		
			</thead>
			<tbody id="tbody">
					<tr th:each="order, loopStatus: ${orderSet}">
						<td valign="middle" >[[${order.pkOrderId}]]</td>
						<td valign="middle">[[${order.totalCost}]]元</td>
						<td class="dd" id="date" valign="middle">[[${order.orderDate}]]</td>
						<td valign="middle">[[${order.shipping_address}]] </td>	
						<td valign="middle" th:switch="${order.trading}"> 
						<span th:case="0">未付款</span> 
						<span th:case="1">已付款</span>
						</td>
						<td class="confirmtext" th:switch="${order.confirm}">
						<span th:case="0">未確認訂單</span> 
						<span th:case="1">已接受訂單</span>
						<span th:case="2">已取消訂單</span>
						</td>
						
						<td valign="middle">[[${order.order_note}]] </td>
						<td ><i  id="order" class="bi bi-card-text" style="font-size: 50px; "></i></td>
					</tr>
						
			</tbody>
		</table>
	</div>
	<div th:unless="${!orderSet .isEmpty()}">
   		<div ><h2 class="erro">暫無訂單資訊</h2></div>
	</div>
</body>
</html>