<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>這是購物車</title>
</head>
<body>

<table>
	<thead>
	<tr>
	<th width="300">商品信息</th>
	<th width="150">單價</th>
	<th width="200">數量</th>
	<th width="200">總金額</th>
	<th width="80">操作</th>
	</tr>

	
	</thead>
	
	
	
	
	<td><div style="padding-left:60px;">
	颜色分类：<div></div>
	尺码：<div ></div>
	</div></td>
	
	<td>$1.0</td>
	
	<td>
		<div class="cart-num__box">
		<input type="button" class="sub" value="-">
		<input type="text" class="val" value="1" maxlength="2">
		<input type="button" class="add" value="+">
		</div>
	</td>
	
	<td >這裡寫總金額</td>
	<td><a >刪除</a></td>
	
	



</table>




</body>
</html>