<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
	<header th:fragment="Header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/Backstage/}">後臺管理</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/Backstage/Member/ShowMember}">會員查詢</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/Backstage/Store/ShowStore}">店家查詢</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">查看報表</a>
              </li>
            </ul>
            <span class="navbar-text">
             NeverStarve後臺管理頁面
            </span>
          </div>
        </div>
      </nav>
	</header>
</body>
</html>