<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<body>
	<header th:fragment="Header">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
		<nav class="navbar navbar-expand-lg navbar-dark " style="box-shadow: 0 10px 10px rgba(0,0,0,0.2);background-color: rgba(0,0,0,0.8); ">
<!-- 		<nav class="navbar navbar-light" style="background-color:rgba(0,0,0,0.2);box-shadow: 0 10px 10px rgba(0,0,0,0.3)">		 -->
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/Backstage/}">後臺管理</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-nav-scroll">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/Backstage/Member/ShowMember}">會員查詢</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/Backstage/Store/ShowStore}">店家查詢</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/Backstage/Report}">查看報表</a>
              </li>
              <li class="nav-item dropdown" >
		          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            其他
		          </a>
		          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
		            <li><a class="dropdown-item" th:href="@{/Order/order/NowOrder}">我的訂單</a></li>
		            <li><a class="dropdown-item" th:href="@{/Member/memberDetail}">修改會員資料</a></li>
		            <li><hr class="dropdown-divider"></li>
		            <li><a class="dropdown-item" th:href="@{/Member/logout}">登出</a></li>
		          </ul>
      		  </li>
            </ul>
            <span class="navbar-text">
            <img th:src="${session.member.bas64}"   class="rounded" alt="logo" style="width:30px;">
             NeverStarve後臺管理頁面
            </span>
          </div>
        </div>
      </nav>  
	</header>
	
</body>
</html>