<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Backstage</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  <!-- i標籤小圖 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel='stylesheet' th:href="@{/css/index.css}" type="text/css" />
<link rel="shortcut icon"  th:href="@{/favicon.ico}"/>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" -->
<!--     integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" -->
<!--     crossorigin="anonymous"></script> -->
<!-- <script -->
<!--     src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" -->
<!--     integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" -->
<!--     crossorigin="anonymous"></script> -->



<script  th:src="@{/js/echarts.min.js}"></script>
<style type="text/css">
.block{
	margin:50px ;
	float: left;
	width: 400px;
	height:400px;
	background-color: lightblue;
	padding: 5px;
	border-radius: 15px;
	
}
.center{
	width:1000px;
	margin:auto;
}
.but1{
	position: absolute;
	top:300px;
	left:100px;
}
canvas{
border-radius: 15px;
}

</style>	
</head>
<body>
	<div th:insert="Generic :: Header" ></div>
		<a th:href="@{/Backstage/init}"><button class="but1">一鍵新增</button></a>
	<div class="center">
		<a th:href="@{/Backstage/Member/ShowMember}"><div class="block" id="member">我是會員區塊</div></a>
		<a  th:href="@{/Backstage/Store/ShowStore}"><div class="block" id="store"></div></a>
		<a th:href="@{/Backstage/Report}"><div class="block" id="roport"></div></a>
		
    <script type="text/javascript" th:inline="javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('member'), 'dark');
        var store = echarts.init(document.getElementById('store'), 'dark');
        var report = echarts.init(document.getElementById('roport'), 'dark');
		
        var tip =/*[[${tip}]]*/ 
        console.log(tip);
        var newtip =/*[[${newtip}]]*/
        console.log(newtip);
       	var keeLong=/*[[${keeLong}]]*/
       	console.log(keeLong);
        var Kaohsiung =/*[[${Kaohsiung}]]*/
    	console.log();
        var Taoyuan =/*[[${Taoyuan}]]*/
    	console.log();
        var Taichung =/*[[${Taichung}]]*/
    	console.log();
        
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '查詢會員入口'
            },
            tooltip: {},
            legend: {
                data:['使用人數']
            },
            xAxis: {
                data: ["台北市","新北市","基隆市","桃園市","台中市","高雄市"]
            },
            yAxis: {},
            series: [{
                name: '使用人數',
                type: 'bar',
                data: [tip ,newtip ,keeLong , Taoyuan, Taichung, Kaohsiung]
            }]
        };
        onem = /*[[${many.one}]]*/
		twom = /*[[${many.two}]]*/
    	therem = /*[[${many.there}]]*/
		fourm = /*[[${many.four}]]*/
		fivem = /*[[${many.five}]]*/
		sixm = /*[[${many.six}]]*/
		sevenm = /*[[${many.seven}]]*/
		eightm = /*[[${many.eight}]]*/
		ninem = /*[[${many.nine}]]*/
		tenm = /*[[${many.ten}]]*/
		elevenm = /*[[${many.eleven}]]*/
		twelvem = /*[[${many.twelve}]]*/
		totlm = /*[[${many.totl}]]*/
        
        option2 = {
        		title: {
                    text: '店家查詢入口 :圖表:今年月份總金額'
                },
        	    xAxis: {
        	        type: 'category',
        	        data: ['一月', '二月', '三月', '四月', '五月', '六月', '七月','八月','九月','十月','十一','十二']
        	    },
        	    yAxis: {
        	        type: 'value'
        	    },
        	    series: [{
        	    	data : [ onem, twom, therem, fourm, fivem, sixm,
						sevenm, eightm, ninem, tenm, elevenm,
						twelvem ],
        	        type: 'bar',
        	        showBackground: true,
        	        backgroundStyle: {
        	            color: 'rgba(180, 180, 180, 0.2)'
        	        }
        	    }]
        	};
    	one = /*[[${order.one}]]*/
		two = /*[[${order.two}]]*/
		there = /*[[${order.there}]]*/
		four = /*[[${order.four}]]*/
		five = /*[[${order.five}]]*/
		six = /*[[${order.six}]]*/
		seven = /*[[${order.seven}]]*/
		eight = /*[[${order.eight}]]*/
		nine = /*[[${order.nine}]]*/
		ten = /*[[${order.ten}]]*/
		eleven = /*[[${order.eleven}]]*/
		twelve = /*[[${order.twelve}]]*/
		totl = /*[[${order.totl}]]*/
		
		option3 = {
        	title: {
                 text: '報表入口 :圖表:今年總訂單'
                },
        	    xAxis: {
        	        type: 'category',
        	        data: ['一月', '二月', '三月', '四月', '五月', '六月', '七月','八月','九月','十月','十一','十二']
        	    },
        	    yAxis: {
        	        type: 'value'
        	    },
        	    series: [{
        	    	data : [ one, two, there, four, five, six,
						seven, eight, nine, ten, eleven,
						twelve ],
        	        type: 'bar',
        	        showBackground: true,
        	        backgroundStyle: {
        	            color: 'rgba(180, 180, 180, 0.2)'
        	        }
        	    }]
        	};
		
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        store.setOption(option2);
        report.setOption(option3);
    </script>
	</div>
</body>
</html>