<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Store List</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="/NeverStarve/js/jquery-2.2.3.min.js"></script>

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">

<!-- 首頁樣式 -->
<link rel='stylesheet' th:href="@{/css/index.css}" type="text/css" />

<!-- 網頁小圖 -->
<link rel="shortcut icon"  th:href="@{/favicon.ico}"/>
<script th:src="@{/js/jquery.twzipcode.min.js}"></script>  
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style th:inline="css">
.table {
	margin: auto;
	margin-top: 20px;
	width: 80%;
	text-align: center;
	align-items: center
}

.center {
	text-align: center;
	margin: auto;
}

.tit {
	font-weight: 700;
	margin-top: 30px;
}

.inp1 {
	position: absolute;
	top: 270px;
	right: 80px;
}
</style>
<script>
$(function(){
		let pag = 1;
		let recordsPerPage = parseInt("[[${recordsPerPage}]]");
		let b1 =true;
		let maxpag = $("#pageno").text().substring($("#pageno").text().indexOf("/")+1);
		
		disablebt();
		setStoreLV();
		
		
		
// ---function區------------------------------------------------------------------
		function setStoreLV(){
			let storeList = document.getElementsByClassName('storeLVtext');
			let objls = $(".storeLV").get();
			for(let i = 0 ;i<storeList.length;i++){
				objls[i].value = storeList[i].innerText;
			}
			
		}
		
		function getPage(){
			let totalpages="";
			let count ="";
			
			$.ajax({
				type:"POST",
				contentType:"application/json",
				url:"[[@{/Backstage/Store/getPageStore}]]"+"/"+pag,
				success:function (data) {
					$("#tbody").empty();
					$.each(data, function(index, element){ 
						if(totalpages == ""){
							count = element.totalcount;
							
							if(count%recordsPerPage==0){
								totalpages = count/recordsPerPage;
							}else{
								totalpages = Math.ceil(count/recordsPerPage);
							}
								
						}
						$('<tr>').appendTo("#tbody")
						.append("<th valign='middle'><a id='a' th:inline='text' target='_blank' href='/NeverStarve/Backstage/Member/"+element.pkStoreId+"'>" +element.pkStoreId+ "</a></th>")
						.append($('<td valign="middle">').text(element.storeName))
						.append($('<td valign="middle">').text(element.storeAddress))
						.append($('<td valign="middle">').html('<span class = "storeLVtext" style="display: none">'+element.storeLv+'</span><select style = "width: 125px" class = "storeLV form-select">'+
						'<option value = "0">停權</option>'+
					    '<option value = "1">正常店家</option>'+
					    '<option value = "2">付費店家</option></select>'))
						.append($('<td valign="middle">').text(element.storePhone))
						.append($('<td valign="middle">').text(element.seatNumber))
						.append("<td><img  height='120' src='"+element.base64 +"'/></td>")
					})
					$("#pageno").text(pag+"/"+totalpages);
					if(count == ""){
						count = "查無資料";
						$("#seleblock").hide();
					}else{
						count = "結果共:"+count+"筆";
						$("#seleblock").show();
					}
					$("#resl").text(count)
					$("#tit").text("所有店家")
					setStoreLV();
					$(".storeLV").change(changeLV);
				}
				});
		};
		
		function getPagebycity(){
			var city=$(".city").val();
			let totalpages="";
			let count ="";
			if(city != ""){
				
			$.ajax({
				type:"POST",
				contentType:"application/json",
				url:"[[@{/Backstage/Store/getPageStore}]]"+"/"+pag+"/"+city,
				success:function (data) {
					$("#tbody").empty();
					$.each(data, function(index, element){ 
						if(totalpages == ""){
							count = element.totalcount;
							if(count%recordsPerPage==0){
								totalpages = count/recordsPerPage;
							}else{
								totalpages = Math.ceil(count/recordsPerPage);
							}
						}
						$('<tr>').appendTo("#tbody")
						.append("<th valign='middle'><a id='a' th:inline='text' target='_blank' href='/NeverStarve/Backstage/Member/"+element.pkStoreId+"'>" +element.pkStoreId+ "</a></th>")
						.append($('<td valign="middle">').text(element.storeName))
						.append($('<td valign="middle">').text(element.storeAddress))
						.append($('<td valign="middle">').html('<span class = "storeLVtext" style="display: none">'+element.storeLv+'</span><select style = "width: 125px" class = "storeLV form-select">'+
								'<option value = "0">停權</option>'+
							    '<option value = "1">正常店家</option>'+
							    '<option value = "2">付費店家</option></select>'))
						.append($('<td valign="middle">').text(element.storePhone))
						.append($('<td valign="middle">').text(element.seatNumber))
						.append("<td><img  height='120' src='"+element.base64 +"'/></td>")
					})
					$("#pageno").text(pag+"/"+totalpages);
					if(count == ""){
						count = "查無資料";
						$("#seleblock").hide();
					}else{
						count = "結果共:"+count+"筆";
						$("#seleblock").show();
					}
					$("#resl").text(count);
					$("#tit").text(city+"店家")
					setStoreLV();
					$(".storeLV").change(changeLV);
				}
				});
		}else{
			alert("請選擇地址")
		}
		};
		
		function way(){
			if(b1){
				getPage();
			}else{
				getPagebycity();
			}
		}
		
		function disablebt(){
			if(pag == 1 ){
				$(".firstbt").attr('disabled', true);
				$(".lastbt").attr('disabled', false);
			}else if(pag == maxpag){
				$(".firstbt").attr('disabled', false);
				$(".lastbt").attr('disabled', true);
			}
		}
		
		function changeLV(){
			let id = $(this).parents("tr").children().eq(0).text().substring(0,1);
			let lv = $(this).val();
			let obj = $(this);
			Swal.fire({
	    		  title: '確定要改變店家等級?',
	    		  showDenyButton: true,
	    		  confirmButtonText: '確定',
	    		  denyButtonText: '取消',
	    		}).then((result) => {
	    			if (result.isConfirmed) {
						$.ajax({
								type:"get",
								url:"[[@{/Backstage/Store/changeLV}]]"+"/"+id+"/"+lv,
								success:function (data) {
									if(data == 1){
 										obj.prev().text(lv);
										Swal.fire('修改成功!', '', 'success')
									}else{
										 Swal.fire('更改失敗', '', 'error')
										 setStoreLV();
									}
										
								}
							})
	    			}else{
	    				setStoreLV();
	    			}
	    		})
		}
		
//--------------事件區-------------------------------------------------------
	
	$("#sele").click(function(){
		pag = 1;
		getPagebycity();
		disablebt();
		b1 = false;
	})
	$("#seleall").click(function(){
		pag = 1;		
		getPage();
		disablebt();
		b1 = true;
	})
	$("#firstbt").click(function(){
		pag = 1;
		disablebt()
		way();
	})
	$("#prevbt").click(function(){
		pag--;
		if(pag < 1){
			pag = 1;
		}
		disablebt()
		way();
	})
	$("#nextbt").click(function(){
		pag ++;
		let str = $("#pageno").text();
		maxpag = str.substring(str.indexOf("/")+1);
		if(pag > maxpag){
			pag = maxpag;
		}
		disablebt()
		way();
	})
	$("#lastbt").click(function(){
		let str = $("#pageno").text();
		maxpag = str.substring(str.indexOf("/")+1);
		pag = maxpag;
		disablebt()
		way();
	})
	$(".storeLV").change(changeLV)
	
})

</script>
</head>
<body class="article_type" th:fragment="article_type" th:inline="text">
	<div th:insert="Generic :: Header"></div>
	<div th:insert="backstage/BackstageHeader :: Header"></div>
	<div>
		<h1 class="center tit" id="tit">[[${SearchResult}]]</h1>
		<h5 id="resl" class="center tit" style="margin-top: 20px">結果共:[[${pagecounts}]]筆</h2>

		<div style="margin-top: 20px" class="center" id="selectCity"></div>
		<div class="center">
			<button id="seleall" class="btn btn-primary">查詢所有店家</button>
			<button id="sele" class="btn btn-primary">查詢</button>

		</div>
		<div th:inline="text" style="margin-bottom: 30px;" id="seleblock">
			<table width=400px; class="table table-striped table-dark ">
				<thead>
					<tr>
						<th>店家編號</th>
						<th>店家名稱</th>
						<th>店家位置</th>
						<th>店家等級</th>
						<th>電話號碼</th>
						<th>座位數量</th>
						<th>會員圖片</th>
					</tr>
				</thead>
				<tbody id="tbody">
					<tr th:each="store,loopStatus: ${products_DPP}">
						<th valign="middle"><a id="a" th:inline="text"
							th:href="@{'/Backstage/Store/Showstore/'+${store.value.pkStoreId}}">[[${store.value.pkStoreId}]]
						</a></th>
						<td valign="middle">[[${store.value.storeName}]]</td>
						<td valign="middle">[[${store.value.storeAddress}]]</td>
						<td valign="middle"><span class = "storeLVtext"  style="display: none">[[${store.value.storeLv}]]</span><select style = "width: 125px" class = "storeLV form-select">
												<option value = "0">停權</option>
											    <option value = "1">正常店家</option>
											    <option value = "2">付費店家</option>
										   	</select></td>
						<td valign="middle">[[${store.value.storePhone}]]</td>
						<td valign="middle">[[${store.value.seatNumber}]]</td>
						<td><img height="120" th:src='${store.value.base64}'>
						</td>
					</tr>
				</tbody>
			</table>
	<div class="center" style="margin: 20px">
		<button id="firstbt" class="btn btn-primary firstbt" width='250px'>第一頁</button>
		<button id="prevbt" class="btn btn-primary firstbt" width='250px'>上一頁</button>
		<span id="pageno">[[${pageNo}]] / [[${totalPages}]]</span>
		<button id="nextbt" class="btn btn-primary lastbt" width='250px'>下一頁</button>
		<button id="lastbt" class="btn btn-primary lastbt" width='250px'>最尾頁</button>
	</div>
		</div>

	</div>




	<div class="form-group">

		<div id="twzipcode"></div>

	</div>


	<script>
		$("#selectCity").twzipcode({
			// countySel: "臺北市", // 城市預設值, 字串一定要用繁體的 "臺", 否則抓不到資料
			// districtSel: "大安區", // 地區預設值
			zipcodeIntoDistrict : true, // 郵遞區號自動顯示在地區
			css : [ "city form-select", "town form-control" ], // 自訂 "城市"、"地區" class 名稱
			countyName : "memberCity", // 自訂城市 select 標籤的 name 值
			districtName : "memberTown" // 自訂地區 select 標籤的 name 值
		});
		$(".town").css('display', 'none');
		$(".city").css({
			"width" : "200px",
			"margin" : "10px auto"
		});
	</script>
</body>
</html>