<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" -->
<!-- 	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" -->
<!-- 	crossorigin="anonymous"></script> -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- i標籤小圖 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> <!-- 新版I標籤小圖 -->
<link rel='stylesheet' th:href="@{/css/index.css}" type="text/css" /> <!-- 首頁樣式 -->	
<link rel="shortcut icon" th:href="@{/favicon.ico}" /><!-- 網頁小圖 -->
<!-- <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">sweetalert -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script><!-- seewt alert -->
<title>登入</title>
<style type="text/css" th:inline="text">
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 ;
	background: url([[@{/images/login.jpg}]]);
 	background-size: cover; 
	background-attachment: fixed;
	background-position: center;
}
.login{
	position: fixed;
	left: 50%;
	top: 50% ;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,0.5);
	text-align: center;
	color: #fff;
	font-family: "微軟正黑體",sans-serif;
	border-radius: 10px;
	padding: 30px;
	width: 25%; 
}

.login i {
	font-size: 100px;
	margin: 20px auto;
}


</style>
<script  type="text/javascript" th:inline="javascript">



$(function () {		

	$('#submitbutton').click(function (e) {	
		var formData = new FormData($("#forgotPWForm")[0]);
		var forgotPW = /*[[@{/Member/forgotPasswordp}]]*/ 
		console.log()
		var index = /*[[@{/}]]*/ 
     	//Prevent default submission of form
        e.preventDefault();
	    $.post({
	            url: forgotPW,
	            data:formData,
	            contentType: false, 
	            processData: false, 
	            success: function (res) {
	                if (res.validated) {
	                    //take your successful action here; you may want to redirect to another page         
	                    $("#prompt").html('<span class="error" style="color: green;" >信件已成功寄出</span>')
	                    Swal.fire({
							 title: '信件已成功寄出',
							 text:'將跳轉回登入頁面',
	 						 width: 600,
	 						 padding: '3em',
							 background: '#fff url("/NeverStarve/images\mail.png")',
	  						 backdrop: `
	   						 rgba(152,245,255,0.4)
	  					     url("/NeverStarve/images/email.gif")
	  						 top
	 						 no-repeat `
								}).then((result) => {
							if (result.isConfirmed)	{
													window.location.href=index;

							}
	                    


								})
								
	                } else {
// 	                	  $("#error").html('此帳號不存在')
		                    $.each(res.errorMessages, function (key, value) {                   	
		                        $('input[name=' + key + ']').after('<span class="error" style="color:#B71A41;font-weight:550 ;font-size:18px" >' + value + '</span>');
		                    });
	                	  
	                }
	            }
	        })
	});
});
	        
	        
</script>

</head>
<body>

 	<div th:insert="Generic :: Header"></div>
 	
	<div class="login" style="max-width: 600px; margin-top: 50px" >
<!-- 		<h3 class="page-header">忘記密碼</h3> -->
		<h2>忘記密碼了嗎?</h2>
		<p>請輸入您的email，我們將發送重設密碼連結<p>
<!-- 		<i class="bi bi-person-circle"></i> -->
		<div class="tit">
			<span id="prompt"></span>
<!-- 			<h3 class="page-header" th:text="${loginBean.email}"></h3> -->
		</div>
		<div class="well">
													<!-- th:action="@{/Member/forgotPassword}"	th:if="${#fields.hasErrors('email')}"	th:field="*{email}"		th:object="${loginBean}"			 -->
													
			<form  method="post"  id="forgotPWForm" th:object="${loginBean}" >
				<div class="form-group">
					<label for="email">用戶名</label>
					<input type="text" name="email" id="email" class="form-control" placeholder="請輸入信箱"  >
<!-- 					<p class= "form-control-static text-danger"  th:errors="*{email}"></p> th:field="*{email}"-->
					<p id="error"  style="color: red"></p>
				</div>
<!-- 					<div class="form-group"> -->
<!-- 					<label for="email">帳號(E-MAIL)</label> <input type="text" -->
<!-- 						name="email" id="email" class="form-control" th:field="*{email}"> -->
<!-- 				</div> -->
					<input type="text" name="password" value="54321" hidden>


					<p class="text-center">
						<button  type="submit" class="btn btn-primary" style="margin-top: 20px" id="submitbutton">重設密碼</button>
					</p>
			</form>
				
						<a style="color:white;" th:href="@{/Member/login}">返回登入頁面</a>

		</div>



	</div>



</body>
</html>