<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
	crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
	rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
	crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- i標籤小圖 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> <!-- 新版I標籤小圖 -->
<link rel='stylesheet' th:href="@{/css/index.css}" type="text/css" /> <!-- 首頁樣式 -->	
<link rel="shortcut icon" th:href="@{/favicon.ico}" /><!-- 網頁小圖 -->
<title>登入</title>
<script>
$(function(){
	flag = true;
	$('#flexSwitch').change(function(){
		if(flag){
			$(".page-header").html("商家登入");
			$("#memberForm").attr("hidden", true);
			$("#storeForm").attr("hidden", false);
			flag = false;
		}else{
			$(".page-header").html("會員登入");
			$("#memberForm").attr("hidden", false);
			$("#storeForm").attr("hidden", true);
			flag = true;
		}
	});
	
})
</script>
<style type="text/css" th:inline="text">
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 ;
	background: url([[@{/images/login.jpg}]]);
 	background-size: cover; 
	background-attachment: fixed;
	background-position: center;
}
.login{
	position: fixed;
	left: 50%;
	top: 50% ;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,0.5);
	text-align: center;
	color: #fff;
	font-family: "微軟正黑體",sans-serif;
	border-radius: 10px;
	padding: 30px;
	width: 25%; 
}

.login i {
	font-size: 100px;
	margin: 20px auto;
}


</style>
</head>
<body>
 	<div th:insert="Generic :: Header"></div>
	<div class="login" style="max-width: 600px; margin-top: 50px" >
		<div class="form-check form-switch  d-flex justify-content-start">
			<input class="form-check-input" type="checkbox" id="flexSwitch">會員/商家
<!-- 			<label class="form-check-label" for="flexSwitchCheckDefault" id="switchText">切換</label> -->
		</div>
		<h3 class="page-header">會員登入</h3>
		<i class="bi bi-person-circle"></i>
		<div class="well">
													<!-- 	th:if="${#fields.hasErrors('email')}"						 -->
			
			<form th:action="@{/Member/login}"  method="post"  th:object="${loginBean}" id="memberForm">
				<div class="form-group">
					<label for="emailId">用戶名</label>
					<input type="text" name="email" id="emailId" class="form-control" placeholder="請輸入帳號" th:field="*{email}">
					<p class= "form-control-static text-danger"  th:errors="*{email}"></p>
					
				</div>
				<div class="form-group">
					<label for="passwordId">密碼</label>
					<input type="text" name="password" id="passwordId" class="form-control" placeholder="請輸入密碼"  th:field="*{password}">
					<p class= "form-control-static text-danger"  th:errors="*{password}"></p>
					<p class= "form-control-static text-danger" th:errors="*{emailOrPasswordError}"></p>
				</div>


					<p class="text-center">
						<button  type="submit" class="btn btn-primary" style="margin-top: 20px">登入</button>
					</p>
			</form>
			
			
			<form th:action="@{/store/login}"  method="post"  th:object="${loginBean}" id="storeForm" hidden="hidden">
				<div class="form-group">
					<label for="emailId">用戶名</label>
					<input type="text" name="email" class="form-control" placeholder="請輸入帳號" th:field="*{email}">
					<p class= "form-control-static text-danger"  th:errors="*{email}"></p>
					
				</div>
				<div class="form-group">
					<label for="passwordId">密碼</label>
					<input type="text" name="password" class="form-control" placeholder="請輸入密碼"  th:field="*{password}">
					<p class= "form-control-static text-danger"  th:errors="*{password}"></p>
					<p class= "form-control-static text-danger" th:errors="*{emailOrPasswordError}"></p>
				</div>


					<p class="text-center">
						<button  type="submit" class="btn btn-primary" style="margin-top: 20px">登入</button>
					</p>
			</form>
			
			<a style="color:white;" th:href="@{/Member/forgotPassword}">忘記密碼?</a>
			


		</div>
















	</div>










</body>
</html>