<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
	crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<title>店家登入</title>
</head>
<body>
	<div class="container text-center" style="max-width: 700px">
		<h3 class="page-header">店家登入</h3>
			<div class="jumbotron">
			<form th:action="@{/store/login}" method="post" th:object="${loginBean}">
			<div class="form-group">
				<label for="storeAccountId">帳號:</label>
				<input type="text" name="storeAccount" id="storeAccountId" class="form-controller" th:field="*{email}">
				<p class= "form-control-static text-danger"  th:errors="*{email}"></p>
			</div>
			<div class="form-group">
				<label for="storePasswordId">密碼:</label>
				<input type="password" name="storePassword" id="storePasswordId" class="form-controller" th:field="*{password}">
				<p class= "form-control-static text-danger"  th:errors="*{password}"></p>
				<p class= "form-control-static text-danger" th:errors="*{emailOrPasswordError}"></p>
			</div>
			<span>
				<button type="submit" class="btn btn-primary text-center">送出</button>
			</span>
			<span>
				<a th:href="@{/store/register}"><button type="button" class="btn btn-link">註冊</button></a>
			</span>
			</form>
			</div>
	</div>
</body>
</html>