<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- i標籤小圖 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> <!-- 新版I標籤小圖 -->
<link rel='stylesheet' th:href="@{/css/index.css}" type="text/css" /> <!-- 首頁樣式 -->	
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.15-rc1/jquery.twzipcode.min.js" ></script>
<script src="/js/jquery.twzipcode.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
$(function() {
	
	
 
 //刪除菜單
 $(".info").on("click", ".delete", function() {
	 
	//刪除菜單的提示訊息
	Swal.fire({
		title: '確定要刪除此菜品嗎?',
		icon: 'warning',
		showCancelButton: true,
		confirmButtonColor: '#3085d6',
		cancelButtonColor: '#d33',
		confirmButtonText: '是',
		cancelButtonText: '否',
	}).then((result) => {
			
		//按下確認後的流程
		if (result.isConfirmed) {
			  
			$(this).parent().parent().parent().remove();
			//重新給予序號
			var num = $(".dishNum");
			for(i = 0; i < num.length; i++){
				num.eq(i).text(i+1)
			}
 			var menuID = $(this).parent().parent().parent().find(".p").text()
 			$.ajax({ type: "GET", 
 					url: "[[@{/store/delete/}]]"+ menuID
 				});	
 			
		    Swal.fire(
		      '刪除成功!',
		      '',
		      'success'
		    )
		    
		}
	})
		
})


//新增一行可輸入的菜單
let newLineStr = "<tr class='menuInp'><td><input type='text' class='classinp DN' style='width: 140px' name='dishName' placeholder='菜品名稱'></td><td><input type='text' class='classinp DI' name='dishIntroduction' style='width: 140px' placeholder='菜品說明'><td><input type='text' class='classinp DP' name='dishPrice' style='width: 140px' placeholder='菜品價格'><span class='text-danger'></span></td><td><form class='saveDishForm' method='post' enctype='multipart/form-data'><input type='file' name='dishPicture' id='dishPictureId' class='form-control DPt' style='width: 200px'></form></td><td><button class='deleteLine btn btn-danger'>刪除</button></td></tr>"
$(".addNewLine").click(function() {
	let ObjInput=document.getElementsByTagName("input") ;
	$("#submitButt").attr("hidden", false);
	$('#newDishForm').append(newLineStr);
});

//將新增後的一行刪除
$(".addDishPlace").on("click", ".deleteLine", function() {
	$(this).closest("tr").remove();
	let ObjSub = $(".classinp").val();
	if(ObjSub == null || ObjSub.value == ''){
		$("#submitButt").attr("hidden", true);
	}
})

//將新增的菜單透過AJAX方式傳到後端
$(".newDishPlace").on("click", "#submitButt", function() {
	var saveMenu = [];
	
	var  allDishlength =$("#newDishForm").find(".menuInp").length;
	
	for(i=0; i < allDishlength; i++){
		
		var allDish = $(".menuInp");
		saveMenu[saveMenu.length] = {
				"dishName" : $(".DN").eq(i).val(),    
				"dishIntroduction" : $(".DI").eq(i).val(),
				"dishPrice" : $(".DP").eq(i).val(),
				};
		
	}
	//判斷書入欄位是否有空值
	var flag = false;
	for(i = 0; i < allDishlength; i++){
		for(let obj in saveMenu[i]){
			if(saveMenu[i][obj] == ''){
				flag = true;
			}
		}
		//判斷價格欄位是否為數字
		re = /^[0-9]*$/;
		if(!re.test(saveMenu[i].dishPrice)){
			 $(".DP").eq(i).parent().find("span").html("請填入數字");
			 flag = true;
		}
	}
	if(!flag){
		for(i=0; i < allDishlength; i++){
			var form = document.querySelector(".saveDishForm");
			var formData = new FormData(form);
			formData.append('dishName', $(".DN").eq(i).val());
			formData.append('dishIntroduction', $(".DI").eq(i).val());
			formData.append('dishPrice', $(".DP").eq(i).val());
			$.ajax({ type: "POST", 
				url: "[[@{/store/saveMenu}]]",
				data: formData,
				contentType: false, 
	            processData: false,
			})
		}
		
		//按下送出後跳出提示畫面
		Swal.fire({
			title: '已新增菜單',
			icon: 'success',
			confirmButtonColor: '#3085d6',
			confirmButtonText: '是',
		}).then((result) => {
			location.reload();
		})
		
	}else{
		$('.alertEmp').html("<strong class='text-danger'>請確認欄位是否有空白</strong>");
	}
		
})

//修改紐
$(".info").on("click", ".modify", function() {
	let dishNum, pkDishId, dishName, dishIntroduction, dishPrice;
	dishNum = $(this).parent().parent().siblings().eq(0).text();
	pkDishId = $(this).parent().parent().siblings().eq(1).text();
	dishName = $(this).parent().parent().siblings().eq(2).text();
	dishIntroduction = $(this).parent().parent().siblings().eq(3).text();
	dishPrice = $(this).parent().parent().siblings().eq(4).text();
	let dishString = "<td class='dishNum'>" + dishNum + "</td><td style='display: none'>" + pkDishId + "</td><td><input type='text' name='dishNameMod' style='width: 100px' value='" + dishName + "'></td><td><input type='text' name='dishIntroductionMod' style='width: 140px' value='" + dishIntroduction + "'></td><td><input type='text' name='dishPriceMod' style='width: 70px' value='" + dishPrice + "'></td><td><form class='modifyDishForm' method='post' enctype='multipart/form-data'><input type='file' name='dishPicture' style='width: 120px'></form></td><td><div class='d-flex justify-content-between'><button class='modiCom btn btn-primary'>送出</button><button class='cancelModi btn btn-secondary'>取消</button></div><div class='noEmptyModi text-danger'></div></td>"
	$(this).parent().parent().parent().html(dishString);
})

//修改後按下確認
$(".info").on("click", ".modiCom", function() {
	var saveModiMenu = [];
	var flag = false;
	saveModiMenu = {
			"pkDishId" : $(this).parent().parent().siblings().eq(1).text(),
			"dishName" : $(this).parent().parent().siblings().eq(2).find("input").val(),    
			"dishIntroduction" : $(this).parent().parent().siblings().eq(3).find("input").val(),
			"dishPrice" : $(this).parent().parent().siblings().eq(4).find("input").val()
			};
	for(let obj in saveModiMenu){
		if(saveModiMenu[obj] == ''){
			flag = true;
		}
	}
	if(flag){
		$(this).parent().parent().find(".noEmptyModi").html("請確認欄位是否有空白");
	}else{
		
		Swal.fire({
			title: '修改完成',
			icon: 'success',
			confirmButtonColor: '#3085d6',
			confirmButtonText: '是',
		}).then((result) => {
			
			var form = document.querySelector(".modifyDishForm");
			var formDataModi = new FormData(form);
			formDataModi.append('pkDishId', $(this).parent().parent().siblings().eq(1).text());
			formDataModi.append('dishName', $(this).parent().parent().siblings().eq(2).find("input").val());
			formDataModi.append('dishIntroduction', $(this).parent().parent().siblings().eq(3).find("input").val());
			formDataModi.append('dishPrice', $(this).parent().parent().siblings().eq(4).find("input").val());
			$.ajax({ type: "POST", 
				url: "[[@{/store/modifyMenu}]]",
				data: formDataModi,
				contentType: false, 
	            processData: false,
			})
			let dishNumRe = $(this).parent().parent().siblings().eq(0).text();
			setTimeout(function(){
				//讓修改後的頁面顯示回去
				let pkDishIdRe = saveModiMenu.pkDishId;
				$.ajax({ type: "GET", 
					url:"[[@{/store/findByDishId/}]]" + pkDishIdRe,
					contentType: "application/json",
					success: function (response) { 
						let originalDish = "<td class='dishNum'>" + dishNumRe + "</td><td style='display: none'>" + response.pkDishId + "</td><td>" + response.dishName + "</td><td>" + response.dishIntroduction + "</td><td>" + response.dishPrice + ".0</td><td><img height='80' src='" + response.base64 + "'></td><td><div class='d-flex justify-content-between'><button class='modify btn btn-primary'>修改</button><button class='delete btn btn-danger'>刪除</button></div></td>";
						$(".dishNum").eq(dishNumRe-1).parent().html(originalDish);
					}
				//讓修改後的頁面顯示回去
				});
			}, 100);
			})
	
		
	}
})

//按下修改鈕後按下取消 回復本來畫面
$(".info").on("click", ".cancelModi", function() {
	let dishIdCanc = $(this).parent().parent().siblings().eq(1).text();
	let dishNumOri = $(this).parent().parent().siblings().eq(0).text();
	$.ajax({ type: "GET", 
		url:"[[@{/store/findByDishId/}]]" + dishIdCanc,
		contentType: "application/json",
		success: function (response) { 
			let originalDish = "<td class='dishNum'>" + dishNumOri + "</td><td style='display: none'>" + response.pkDishId + "</td><td>" + response.dishName + "</td><td>" + response.dishIntroduction + "</td><td>" + response.dishPrice + "</td><td><img height='80' src='" + response.base64 + "'></td><td><div class='d-flex justify-content-between'><button class='modify btn btn-primary'>修改</button><button class='delete btn btn-danger'>刪除</button></div></td>";
			$(".dishNum").eq(dishNumOri-1).parent().html(originalDish);
		}
	});
})
		
})
</script>
<title>修改菜單</title>
</head>
<body>
<div th:insert="GenericStore :: Header"></div>
	<div class="container" style="margin: 35px auto">
		<div style="margin: auto; width: 81%">
		<h3 class="page-header">修改菜單</h3>
			<table class="table table-bordered table-hover table-striped text-center">
				<thead>
					<tr>
						<th style="width: 9%">序號</th>
						<th style="width: 18%">菜名</th>
						<th style="width: 31%">說明</th>
						<th style="width: 12%">價錢(元)</th>
						<th style="width: 12%">圖片</th>
						<th style="width: 18%">操作</th>
					</tr>
				</thead>
				<tbody class="info">
					<tr th:each="menu,iterStat:${menuList}">
						<td th:text="${iterStat.count}" class="dishNum"></td>
						<td style="display: none" th:text="${menu.pkDishId}" class="p"></td>
						<td th:text="${menu.dishName}"></td>
						<td th:text="${menu.dishIntroduction}"></td>
						<td th:text="${menu.dishPrice}"></td>
						<td ><img height="80" th:src='${menu.base64}'> </td>
						<td><div class="d-flex justify-content-between"><button class="modify btn btn-primary">修改</button><button class="delete btn btn-danger">刪除</button></div></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="newDishPlace">
			<div class="d-flex justify-content-center">
				<div class="addDishPlace" style="width: 80%">
					<table id="newDishForm" class="table table-bordered">
					</table>
				</div>
			</div>
		
		
			<div class="alertEmp" style="margin-left: 75%"></div>
			<div style="margin-left: 83%">
				<button class="btn btn-secondary" hidden="hidden" id="submitButt">送出</button>
			</div>
		</div>
		
		<div class="buttPlace d-flex justify-content-center">
			<div class="d-flex justify-content-between" style="width: 200px">
				<button class="addNewLine btn btn-primary">新增菜品</button>
				<a href="javascript:history.go(-1)"><button class="btn btn-secondary">返回前頁</button></a>
			</div>	
		</div>
	</div>
</body>
</html>