<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
	crossorigin="anonymous"></script>
<title>店家註冊</title>
</head>
<body>
	<div class="container text-center" style="max-width: 700px">
		<h3 class="page-header">會員註冊</h3>
		<div class="jumbotron">
			<form th:action="@{/store/register}" method="post" th:object="${storeBean}">
				<div class="form-group">
					<label for="storeAccountId">帳號:</label> 
					<input type="text" name="storeAccount" id="storeAccountId" class="form-controller" th:field="*{storeAccount}">
				</div>
				<div class="form-group">
					<label for="storePasswordId">密碼:</label> 
					<input type="text" name="storePassword" id="storePasswordId" class="form-controller" th:field="*{storePassword}">
				</div>
				<div class="form-group">
					<label for="storeCheckPasswordId">確認密碼:</label> 
					<input type="text" name="storeCheckPasswordId" id="storeCheckPassword" class="form-controller" th:field="*{storeCheckPassword}">
				</div>
				<div class="form-group">
					<label for="storeNameId">店家名稱:</label> 
					<input type="text" name="storeName" id="storeNameId" class="form-controller" th:field="*{storeName}">
				</div>
				<div class="form-group">
					<label for="storeAddressId">地址:</label> 
					<input type="text" name="storeAddress" id="storeAddressId" class="form-controller" th:field="*{storeAddress}">
				</div>
				<div class="form-group">
					<label for="storePhoneId">電話:</label> 
					<input type="text" name="storePhone" id="storePhoneId" class="form-controller" th:field="*{storePhone}">
				</div>
				<div class="form-group">
					<label for="storeTypeId">菜色種類:</label> 
					<input type="text" name="storeType" id="storeTypeId" class="form-controller" th:field="*{storeType}">
				</div>
				<div class="form-group">
					<label for="seatNumberId">座位數量:</label> 
					<input type="text" name="seatNumber" id="seatNumberId" class="form-controller" th:field="*{seatNumber}">
				</div>
				<p>
					<button type="submit" class="btn btn-primary text-center">送出</button>
				</p>
			</form>
		</div>
	</div>
</body>
</html>