<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

<title>確認訂位資訊</title>
</head>
<body>
	<div class="container" style="max-width: 700px; margin-top: 50px">
		<h3 class="page-header">確認訂位內容</h3>
		<div class="jumbotron text-left">
			<p><strong>完成訂位!(測試版)</strong></p>
			<div>
<!-- 			<form action="#" th:action="@{/bookingPost}" method="post"> -->
				<form action="#" method="post">
					<div class="form-group">
						<label for="bookingDateId">用餐日期</label>
						<input type="text" name="bookingDate" id="bookingDateId" class="form-control">
					</div>
					<div class="form-group">
						<label for="bookingTimeId">用餐時間</label>
						<input type="text" name="bookingTime" id="bookingTimeId" class="form-control">
					</div>
					<div class="form-group">
						<label for="bPeopleNumId">用餐人數</label>
						<input type="text" name="bPeopleNum" id="bPeopleNumId" class="form-control">
					</div>
					<div class="form-group">
						<label for="bPeopleNumId">訂位訊息</label>
						<input type="text" name="bPeopleNum" id="bPeopleNumId" class="form-control">
					</div>
<!-- 					<p> -->
<!-- 					<button type="submit" class="btn btn-primary" disabled>立即預約</button> -->
<!-- 					</p> -->
				</form>
				</div>
		</div>
	</div>
</body>
</html>