<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" -->
<!-- 	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" -->
<!-- 	crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

<!-- i標籤小圖 -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel='stylesheet' th:href="@{/css/index.css}" type="text/css" /> <!-- 首頁樣式 -->
<link rel="shortcut icon"  th:href="@{/favicon.ico}"/> <!-- 網站小圖 -->

<!--     <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet"> -->
<!--     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet"> -->
<!-- <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}"> -->
<!-- <link rel="stylesheet" th:href="@{/css/style.css}"> -->

<!-- jQ-UI datepicker CSS and js -->
<!--   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"> -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script th:src="@{/js/TW.js}"></script>
<!--   <script th:src="@{/js/locales/bootstrap-datepicker.zh-TW.js}"></script> -->
<title>線上訂位管理系統</title>
</head>
<body>
	<div th:insert="Generic :: Header"></div>
	<div class="container" style="max-width: 700px; margin-top: 150px">
		<h3 class="page-header">線上訂位管理系統</h3>
		<div class="jumbotron text-left">
			<p ><span th:text="${session.storeUser.StoreName}"></span>，您好！歡迎使用本平台的訂位管理系統！</p>
			<p>
				<strong>請選擇客戶欲修改的用餐日期、時間及人數</strong>
			</p><hr>
			<div>
				<form action="#" th:action="@{/StoreBooking/bookingPostByStore}" method="post">
<!-- 					<div class="form-group"> -->
<!-- 						<label for="Member_Id_Id">會員ID(測試)</label> -->
<!-- 						<input type="hidden" name="memberBean" id="Member_Id_Id" class="form-control" th:value="${session.member.pkMemberId}" > -->
<!-- 					</div> -->
					
					<div class="form-group">
						<label for="storeNameId">訂單序號：</label>
							<input type="text" name="pkBookingNo" id="pkBookingNoId" class="border border-0 bg-transparent" th:value="${modBtb.pkBookingNo}" readonly>
					</div>
					<div class="form-group">
						<label for="storeNameId">預約人：</label>
							<span id="storeNameId" class="" th:text="${modBtb.memberBean.name}"></span>
					</div>
<!-- 					<div class="form-group"> -->
<!-- 						<label for="storeNameId">預約餐廳</label> -->
<!-- 						<input type="text" name="storeName" id="storeNameId" class="form-control" readonly> -->
<!-- 						<p id="storeNameId" class="form-control">餐廳名稱(暫時範例)</p> -->
<!-- 						<p id="storeNameId" class="form-control" th:text="${store.storeName}"></p> -->
<!-- 					</div> -->
					<div class="form-group">
						<label for="datepicker">用餐日期</label>
						 
						<p id="dater">
							<input type="text" name="bookingDate" id="datepicker" 
								class="form-control float-left btn-outline-info" style="width: 565px" 
								placeholder="${#dates.format(booking.bookingDate,'yyyy 年 MM 月 dd 日')}"
								readonly>
						</p>

					</div>
					<div class="form-group">
						<label for="bookingTimeId">用餐時間</label> 
<!-- 						<input type="text" -->
<!-- 							name="bookingTime" id="bookingTimeId" class="form-control" > -->
						<br>
						<div data-toggle="buttons" class="btn-group-toggle" id="bTimesbtn">
<!-- 							<label class="btn btn-outline-info"> -->
<!-- 								<input type="radio" name="bookingTime" id="t1200" value="12:00">12:00 -->
<!-- 							</label> -->
<!-- 							<label class="btn btn-outline-info"> -->
<!-- 								<input type="radio" name="bookingTime" id="t1300" value="13:00">13:00 -->
<!-- 							</label> -->
						</div>
<!-- 						<button type="button" name="bookingTime" id="bookingTimeId" class="btn btn-info" value="12:00">12:00</button>	 -->
<!-- 						<button type="button" name="bookingTime" id="bookingTimeId" class="btn btn-info" value="13:00">13:00</button>	 -->
					<p id="testTime"> </p>
					</div>
					<div class="form-group">
						<label for="bPeopleNumId">用餐人數</label> 
<!-- 						<input type="text" -->
<!-- 							name="bookingNum" id="bPeopleNumId" class="form-control"> -->
							
<!-- 						<select name="bookingNum" id="bPeopleNumId" class="form-control"> -->
<!-- 							<option value="1">1</option> -->
<!-- 							<option value="2" selected="selected">2</option> -->
<!-- 							<option value="3">3</option> -->
<!-- 						</select> -->

						<select name="bookingNum" id="bPeopleNumId" class="form-control">
							<option th:each="seat : ${#numbers.sequence(1, storeUser.seatNumber, 1)}" 
									th:value="${seat}" 
									th:text="${seat}" 
									th:selected="${seat == 2}">
							 </option>
						</select>
						
<!-- 					<p th:text="'總座位數(測試): ' + ${store.seatNumber}"> </p> -->
					</div>
					<hr>
					<p>
						<input id="confirmSubmitId" type="checkbox" name="confirm" th:checked="false" value="1">
						<label for="confirmSubmitId">已確認預約資訊無誤</label>
					</p>
					<div class="d-flex justify-content-between">
					<p>
						<button id="submitBookingId" type="submit" class="btn btn-primary" disabled>修改預約</button>
					</p>
					<p>
						<button id="submitBookingId" type="button" class="btn btn-secondary" 
									onclick="javascript:history.back()">取消</button>
					</p>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--     <script th:src="@{/js/bookingPopper.min.js}"></script> -->
<!--     <script th:src="@{/js/bookingRome.js}"></script> -->
<!--     <script th:src="@{/js/bookingMain.js}"></script> -->

<!--     <script th:src="@{/js/popper.min.js}"></script> -->
<!--     <script th:src="@{/js/bootstrap.min.js}"></script> -->
<!--     <script th:src="@{/js/rome.js}"></script> -->

<!--     <script th:src="@{/js/main.js}"></script> -->
	
	<script th:inline="javascript">
	//根據原本訂單的人數，設值到預設人數中
	var originBNo = '[[${modBtb.bookingNum}]]'
	$("#bPeopleNumId option:nth-child(" + originBNo + ")").attr("selected", true)
// 	console.log(originBNo)
// 	console.log($("#bPeopleNumId option:nth-child(" + originBNo + ")").val())
	
	//根據原本訂單日期，設值到預設日期中
	var originDat = '[[${modBtb.bookingDate}]]'
	var StrOriDat = originDat.substring(1,11)
// 	console.log('[[${modBtb.bookingDate}]]')
// 	console.log(StrOriDat)

	//jQ-ui的月曆工具
	$( "#datepicker" ).datepicker({
        showOn: "both",
//         buttonImage : "https://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
//         buttonImage : "../images/calendar icon.jpg",
        buttonImageOnly: false,
        buttonText: "<i class='fa fa-calendar'></i>",
//         buttonText: "請選擇日期",
        dateFormat: "yy 年 mm 月 dd 日",
        firstDay: 0,
        
        showButtonPanel: true,
        currentText: "回到今天",
        
//         autoSize: true,
//         dayNamesMin: [ "日", "一", "二", "三", "四", "五", "六" ],
//         monthNames: [ "一月", "二月", "三月", "四月", "五月", "六月", 
//         	"七月", "八月", "九月", "十月", "十一月", "十二月" ],

        minDate: new Date() // 最小日期設定，未設定參數即表示今日
      }).datepicker("setDate", new Date(StrOriDat)); //設置月曆工具的相關設定後，在鏈結設置今日日期到輸入欄位
//   	$( "#datepicker" ).datepicker().datepicker('setDate', new Date()); //設置今日日期到輸入欄位	
		
	//月曆按鈕樣式
	$("#dater button").addClass("btn btn-secondary");
	
	//確認資料按鈕綁定送出按鈕的disabled功能
	$("#confirmSubmitId").click(function(){
		  $("#submitBookingId").prop("disabled", !$("#confirmSubmitId:checked").length);
		});
	
	//產生預約時段按鈕函數
	createTimesBtns()
	function createTimesBtns(){
// 		console.log("change!");
// 		console.log($(this).val());
		storeId1 = /*[[@{/Booking/findTimesByDateAndStoreId/}]]*/
		storeId2 = /*[[${storeUser.pkStoreId}]]*/
		$.ajax({
			url: storeId1 + storeId2,
			type: 'GET',
			dataType: 'json',
			data: {strDate : $("#datepicker").val()},
			contentType: 'application/json',
			errors: function (xhr) {
				alert("發生錯誤: " + xhr.status + " " + xhr.statusText);
			},
			success: 
				function (response) {

				var bTimesBtn = "";
				$.each(response, function(index, element){
					var strTime = element.bookingTime
					strTime = strTime.substring(11, 16)
					
					bTimesBtn += '<label class="btn btn-outline-info" style="margin: 2px">' + 
								 '<input type="radio" name="bookingTime" value="' + strTime + '" required>' + strTime +
								 '</label>'
				})
// 					console.log(bTimesBtn)
					$('#bTimesbtn').html(bTimesBtn)
				;
			}
			
		})
	}
	
	//選取預約日期後，ajax請求預約時段回傳至前端
	$("#datepicker").change(function(){
		createTimesBtns()
	})
    </script>
<!-- 				alert("success!" + ", " + "storeId: " + "[[${storeUser.pkStoreId}]]"); -->
<!-- 				$('#testTime').html('(測試用)抓到資料囉!') -->
<!-- 							  .append("<br>" + "(測試用)storeId: " + "[[${storeUser.pkStoreId}]]") -->
</body>
</html>