<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>NeverStarve</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel='stylesheet' th:href="@{/css/index.css}" type="text/css" />	
</head>
<body class="index">
	<header th:fragment="Header">
      <div id="headbar" style="background-color: #C4E1E1; ">
            <div class="logodiv">
                <a th:href="@{/}"><img th:src=@{/images/NeverStarvelogo3.png} height="125px" ></a>
<!--                 <img alt="" src="/NeverStarve/images/NeverStarvelogo3.png" height="125px" > -->
                
            </div>

            <div class="headform">
                <form role="search" >
                    <div class="form-group">
                        <input type="text"  />    
                        <button type="submit" class="select"><i class="fa fa-search"></i></button>
                    </div>                                                   
                </form>
            </div>           
           	<a th:href="@{/Member/login}" type="button" class="btn btn-primary longin" th:if ="${session.member == null}">登入</a>
           	<a th:if = "${session.member!=null}" class="btn btn-warning" th:href="@{/Member/logout}">登出</a>           
        </div>
	</header>
	
	<footer th:fragment="Footer">
<!-- 	---------------------- -->
	</footer>


</body>
</html>