<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>NeverStarve</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel='stylesheet' th:href="@{/css/index.css}" type="text/css" />	
<!-- bootStrap icon -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body class="index">
	<header th:fragment="Header" class="fixed-top">
	<!-- bootStrap icon -->
		<div id="headbar" style="background-color: #C4E1E1 	;box-shadow: 0 4px 10px rgba(0,0,0,0.3) ">
            
			<div class="logodiv">
				<a th:href="@{/}"><img th:src=@{/images/NeverStarvelogo3.png} height="80px" ></a>
	                
			</div>
	             
			<div class="logodiv d-flex justify-content-end" style="width:125px">
			</div>
	            
			<div style="margin-right: 20px">
				<a class="btn btn-warning " th:href="@{/store/logout}">登出店家</a>           
			</div>
			
			
        </div>
			 <nav class="navbar navbar-expand-sm bg-light navbar-light">
               			 <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="font-weight:900; font-size: 18px" th:href="@{/store/storeIndex}">店家首頁</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/store/modifyInfo}">修改資料</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/store/menu}">修改菜單</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/store/order}">查看訂單</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/StoreBooking/findBookings}">查看訂位清單</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/StoreBooking/}">設定預約時段</a>
                    </li>

                </ul>
            </nav>
        
        
        

        
	</header>
	
	<footer th:fragment="Footer">
<!-- 	---------------------- -->
	</footer>


</body>
</html>