<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<link rel='stylesheet' th:href="@{/css/index.css}" type="text/css" />	
<!-- bootStrap icon -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
    
<title>NeverStarve</title>
</head>
<body class="index">
	<header th:fragment="Header" class="fixed-top">
      <div id="headbar" style="background-color: #C4E1E1 	;box-shadow: 0 4px 10px rgba(0,0,0,0.3) ;width:100% ">
            <div class="logodiv">
                <a th:href="@{/}"><img th:src=@{/images/NeverStarvelogo3.png} height="80px" ></a>
<!--                 <img alt="" src="/NeverStarve/images/NeverStarvelogo3.png" height="125px" > -->
                
            </div>
             
            <div class="logodiv d-flex justify-content-end" style="width:125px">
<!--             	<a th:href="@{/Booking/}" type="button" class="btn btn-dark"><i class='fa fa-calendar'></i> 訂位系統(暫停使用)</a> -->
<!--             	<a th:href="@{/}" type="button" class="btn btn-success">Temp</a> longin-->
            </div>
            <div>
	           	<a th:href="@{/Member/register}" type="button" class="btn btn-primary " th:if ="${session.member == null}">註冊</a>
	           	<a th:href="@{/Member/login}" type="button" class="btn btn-primary " th:if ="${session.member == null}">登入</a>
	           	<a  class="btn btn-warning "  th:href="@{/Member/logout}" th:if="${session.member!=null} and ${session.member.userType == '0'}">登出</a>           
            </div>
            

<!--             <div class="headform"> -->
<!--                 <form > -->
<!--                    <div class="input-group mb-3"> -->
<!-- 					  <input type="text" class="form-control" placeholder="查詢" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
<!-- 					  <div class="input-group-append"> -->
<!-- 					    <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></button> -->
<!-- 					  </div> -->
<!-- 					</div>                                                 -->
<!--                 </form> -->
<!--             </div>  -->
            
<!--             <div class="logindiv"> -->
<!--             </div>           -->
        </div>
        
        <nav class="navbar navbar-expand-sm bg-light navbar-black nav justify-content-end fixed-top" 
        		style="height: 60px;width:100% ;top:80px" th:if ="${session.member != null} and ${session.member.userType != '0'}">
			<!-- Brand/logo-->
				<a class="navbar-brand" href="#">
					<img th:src="${session.member.bas64}" class="rounded" alt="logo" style="width:40px; margin-right: 0px">
				</a>
  <!-- Links -->
			<ul class="navbar-nav">
<!-- 				<li class="nav-item"><a class="nav-link" href="#">Link 1</a></li> -->
<!-- 				<li class="nav-item"><a class="nav-link" href="#">Link 2</a></li> -->
<!-- 				<li class="nav-item"><a class="nav-link" href="#">Link 3</a></li> -->

				<!-- Dropdown -->
				<li class="nav-item dropdown" style="margin-right: 80px">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" 
						th:text="'Hello!&nbsp'+${session.member.name}"></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/Order/order/NowOrder}">查看歷史訂單</a> 
						<a class="dropdown-item" th:href="@{/Booking/findBookings}">預約座位查詢</a>
						<hr style="margin: 0">
						<a class="dropdown-item" th:href="@{/Member/memberDetail}">修改會員資料</a> 
						<hr style="margin: 0">
						<a class="dropdown-item" th:href="@{/Member/logout}">登出</a>
					</div>
				 </li>
			</ul>
		</nav>
		
		
		
		
<!-- 		  <nav class="navbar navbar-expand-sm bg-light navbar-black nav justify-content-end fixed-top"  -->
<!--         		style="height: 60px;width:100% ;top:80px" th:if ="${session.member == null}"> -->
<!-- 		</nav> -->

	</header>
	
	<footer th:fragment="Footer">
<!-- 	---------------------- -->
	</footer>


</body>
</html>